<div class="container">
  <div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <a routerLink="/" href="" class="logo"><h1>محصولي</h1></a>
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">الدخول</h5>
        <form class="form-signin">
          <div class="form-label-group">
            <input type="name" id="name" class="form-control" placeholder="الاسم بالكامل" required autofocus>
          </div>

          <div class="form-label-group">
            <input type="text" id="number" class="form-control" placeholder="رقم الهاتف" required>
          </div>

          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">دخول</button>
          <hr class="my-4">
          <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit">الدخول بفيسبوك
            <fa name="facebook"></fa>
          </button>
        </form>
        <p>ليس لديك حساب؟ <a href="#" routerLink="/signup">تسجيل حساب جديد</a></p>
      </div>
    </div>
  </div>
</div>
</div>
