<div class="container">
  <div class="flex-profile">
    <img class="profile" src="../../../assets/user.png" alt="الملف الشخصي">
    <h2>أحمد محمد الجندي</h2>
    <p><span class="simple-data">عدد المشاريع: 22</span><span>نسبة الإلتزام: 4.7/5</span></p>

    <div class="badge">
      <div href="#"> <img src="../../../assets/Layer%206.png" alt="موثوق"><p>موثوق</p></div>
      <div href="#"> <img src="../../../assets/Layer%207.png" alt="ممميز"><p>ممميز</p></div>
      <div href="#"> <img src="../../../assets/Layer%208.png" alt="واعي"><p>واعي</p></div>
      <div href="#"> <img src="../../../assets/Layer%209.png" alt="متعاون"><p>متعاون</p></div>
    </div>

    <div class="bio">
      <h6>قصتي</h6>
      <p>أرمينيا، واسمها الرسميّ جمهورية أرمينيا، هي بلد جبلي غير ساحلي يقع في القوقاز من أوراسيا حيث تتوضع عند ملتقى غرب آسيا وشرق أوروبا. تحدها تركيا من الغرب وجورجيا من الشمال وجمهورية الأمر الواقع ناغورني كاراباخ وأذربيجان في الشرق، أما من الجنوب فتحدها إيران ومكتنف ناخيتشيفان الأذربيجاني. </p>
    </div>



    <br>
    <br>
    <br>
    <br>
  </div>
</div>

<app-bootom-nav></app-bootom-nav>
