.flex-profile {
  text-align: center;
  padding: 1.5rem;
}
.flex-profile img{
  margin-bottom: 30px;
  width: 40%;
}
span{
  margin: 20px 10px;
}

.badge{
  text-align: center;
  background-color: #f4fbf0;
  display: flex;
  padding: 30px;
}
