<div class="container">
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="container">
        <a routerLink="/" href="" class="logo"><h1>محصولي</h1></a>
        <form class="form-signin">
          <button class="btn btn-lg btn-primary text-uppercase" routerLink="/signup">تسجيل حساب جديد</button>
          <button class="btn btn-lg btn-primary text-uppercase" routerLink="/login">الدخول</button>
        </form>
        <p>لديك مشكلة؟ <a href="#">اتصل بنا</a></p>
    </div>
  </div>
</div>
</div>
